.btn{
  transition: .3s;
  font-size: 24px;
}

.btn-register {
  background-color: $button-blue;
  color: $text-white;
  width:300px;
  height:50px;
}

.btn-register:hover {
  color:$text-white;
  background-color: $button-blue-hover;
}


//contact page submit button
.action-button{
  border: none;
  background-color:$background-yellow;
  color:$text-grey;
  padding:1em;
  height:70px;
  margin:2em;
  h2{
    font-weight: 300;
    font-size:18px;
  }
}
