
body {
  width: 100%;
  height:100%;
  overflow-x: hidden;
  margin: 0;
}
hr {
  width: 70%;
}

article, section {
  padding:2em 0;
}
.center {
  text-align: center;
}
.left{
  text-align: left;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.column {
  flex-direction:column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.headline {
  margin: 50px;
}
.clearfix{
  content: '';
  display: table;
  clear:both;
}
// Dividers
.divider-container{
  width: 100%;
  margin-top:-65px;
  overflow:hidden;
  .angle-divider{
    height:65px;
    background: $background-white;
    transform: rotate(-2deg);
    margin-top: 40px;
    width:calc(100% + 2px);
  }
}
.grey-divider{
  width:90%;
}

// Navigation
.hidden-nav {
  position: fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 50px;
  width:100%;
  z-index: 150;
  h1{
    float:left;
    padding-left: 20px;
  }
  .nav-menu {
    width: 100%;
    justify-content: flex-end;
    li {
      padding-right:20px;
    }

  }
}

//Above the fold
.banner {
  position: relative;
  height:80vh;
  .logo{
    position: absolute;
    left:20px;
    top: 30px;
    z-index:100;
  }
  .overlay{
    position: absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    height:90%;
  }
  #video-container {
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    overflow: hidden;

    video {
      position: absolute;
      width: 100%;
      min-width:1000px;
      z-index:0;
    }
  }
  ul {
    display:flex;
    justify-content: space-between;
    margin:5px 25px;
    li {
      padding:8px 15px;
      margin:10px;
      z-index: 100;
    }
  }
  .site-nav {
    position: absolute;
    top:15px;
    right:15px;
    height: 50px;
    z-index: 100;
    button{
      z-index: 100;
    }
  }
  .title-statement {
    position:absolute;
    top:200px;
    left:10%;
    text-align:left;
    width:350px;
    z-index: 100;
    h1{
      position: relative;
      line-height:55px;
      span{
        z-index: 100;
        line-height:30px;
        padding-right: 30px;
        position: absolute;
        top:35px;
        left:0;
      }
    }
  }
}
.above-fold-container{
  width:100%;
  height: 700px;
  display:flex;
  justify-content: center;
  align-items: center;
  .community-page-title-statement {
    h1{
      width:100px;
    }
    width: 600px;
    margin:2em;
  }
  .featured-header {
    width: 80%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    hgroup{
      margin:0 5%;
      h1 {
        margin: 10px;
        padding-bottom:3px;
      }
    }
  }

}

//Responsive Menus
.menu-icon{
  position: absolute;
  right:20px;
  top:40px;
  z-index: 100;
}
.scroll-menu-icon{
  position: absolute;
  right:20px;
  top:15px;
  z-index: 100;
}
.mobile-menu {
  position:fixed;
  z-index:250;
  top: 0;
  left: 0;
  height:100%;
  width:100vw;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  h1{
    margin-bottom:100px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height:50vh;
    li {

    }
  }
}
.exit span {
  position:absolute;
  top:20px;
  right:20px;
}

.testimony{
  height: 350px;
  h2{
    padding-top: 30px;
    margin:0 10%;
  }
  hr{
    width:53px;
    margin-top:50px;
    padding-bottom:20px;
  }

}


.statement {
  height:400px;
  p {
    width:50%;
    min-width:300px;
    margin:50px;
  }
  div{
    a{
      margin-top:20px;
      width:120px;
      line-height: 100px;
      hr{
        width:120px;
        height:1px;
        margin:0px;
      }
    }
  }
}
.featured-content {
  margin:50px 20%;
  min-width:300px;
}
.space-views{
  padding:40px;
  display: flex;
  flex-direction: column;
  .space-container {
    margin-top:20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a{
      figure{
        margin:1em;
        padding: 20px;
        height:400px;
        width:550px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        transition: .4s;
        div{
          height:300px;
          width:320px;
        }
        h5 {
          z-index: 100;
          padding:15px;
          width:220px;
          text-align:center;
          margin-bottom:25px;
        }
      }
    }
  }
  .headline{
    align-self:flex-end;
    text-align:center;
    width:130px;
    margin-right:20%;
    hr{
      height:1px;
      margin:10px;
      width:90%;
    }
  }
  .insta-link{
    width:150px;
  }
}
figure:hover{
  transform: scale(1.01);
  z-index: 15;
  box-shadow: 0px 0px 3px $box-shadow;
}
//Containers
.contact-container {
  height: 500px;
}
.map-container{
  position: relative;
  .map{
    height:500px;
  }
  .info-container{
    position: relative;
    hr{
      margin-top:50px;
    }
    .rating-img {
      position: absolute;
      top: 60px;
      left:35px;
    }
  }
  .directions{
    position: absolute;
    right:100px;
    bottom:25px;
    height:50px;
    width:215px;
  }
}
.member-gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 5%;
  .member-image {
    position: relative;
    .member-preview{
      // position:absolute;
      // bottom:0px;
      width:100%;
      // height:100%;
      // text-align: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    a {
      img {
        margin: 1em;
      }

    }


  }
}
.featured-intro-statement-container {
  margin:7vw;
  padding: 30px 0;
  min-width: 280px;
}
.social-links-container {
  margin-top:50px;
}
//Display toggles
.hide {
  display: none;
}

.footer-block{
  width: 100%;
  height:150px;
  img{
    margin: 2em;
  }
}
