
@media screen and (min-width: 760px){

  .banner {
    font-size: 150%;
    h1{
      font-size: 2em;
    }
    .title-statement{
      width:70%;
      h1{
        line-height: 100px;
        font-size: 57px;
        span{
            padding:10px;
            padding-top:20px;
            top:60px;
        }
      }
    }
    .community-page-title-statement{
      font-size: 120%;
    }
  }
  article{
    p{
      font-size:1.5em;
    }
  }
  .statement {
    p{
      font-size:1.5em;
    }
  }
  .testimony{
      h2{
        font-size:33px;
      }
  }
  .above-fold-container{
    .featured-header{
      h1{
        font-size:48px;
      }
      h2 {
        font-size: 36px;
      }
    }
  }
  .featured-intro-statement-container {
    font-size: 20px;
  }
  //features
  .action-button{
    h2{
      font-size: 24px;
    }
  }
}
