
body {
  color:$text-grey;
  font-family: $copy;
  h1{
    font-family: $titles;
  }
  h2{
    font-size:24px;
  }
  p{
    font-size: 16px;
  }

}

*:focus {
  outline: none;
}

.inverse {
  color: $text-white;
}
.inverse:hover {
  color: $text-white;
}
.site-nav {
  background-color:$clear;
  ul{
    li {
      color: $text-white;
    }
    li:last-child{
      a{
        color: $text-grey;
      }
      background-color:$background-yellow;
    }
  }

}
//Navs
.hidden-nav {
  background-color: $background-grey;
  h4, h1 {
    color: $text-white;
  }
}
.nav-menu{
    a{
      color: $text-white;
      font-size: 1.3em;
      padding: 15px;
    }

}


//Mobile menu styling
.mobile-menu {
  background-color: $background-white;
  h1{
    font-size:57px;
  }
  li a{
    color: $text-grey;
    font-size:36px;
  }
}
.menu-icon, .scroll-menu-icon{
  color:$text-white;
}
.menu-icon:hover{
  cursor: pointer;
}
.scroll-menu-icon:hover{
  cursor:pointer;
}
.exit span {
  color:$text-grey;
  display:inline-block;
  font-size:32px;
}
.exit:hover{
  cursor:pointer;
}

.inverse-section{
  background: $background-grey;
  color:$text-white;
}
//Above Fold
.banner {
  height:80vh;
  .overlay{
    background: $overlay-grey;
  }
  .logo{
    color: $text-white;
    h1{
      a{
        color: $text-white;
      }
    }
    h4{
      font-family: $titles;
    }
  }
  .title-statement{
    h1{
      color:$text-white;
      font-size:2em;
      span{
        color:$text-grey;
        background-color: $background-white-transparent;
      }
    }
  }
  li {
      color:$text-white;
    a {
      color:$text-white;
    }
  }
}
.statement{
  h2{
    color:inherit;
  }
  a{
    hr{
      background: $cowork-blue;
      border:none;
    }
  }
}
.above-fold-container{
  background-color: $background-blue;
  color:$text-white;

}


.space-container {
 a{
   figure{
     background: $background-white;
       #quiet{
         background: url("media/workspace.png") no-repeat center center;
         background-size:contain;
       }

       #social{
         background: url("media/community.png") no-repeat center center;
         background-size: contain;
       }
   }
 }
}

.space-views {
  background-color: $background-blue;
  .insta-link h5{
    color:$text-white;
  }
  figure{
    h5{
      background-color: $background-yellow;
      color: $text-grey;
    }
  }
  .headline{
    h5{
      hr{
        background: $background-white;
        border:none;
      }
    }
  }
}

.map-container {
  .directions{
    background:$background-grey-dark-transparent;
    color: $text-white;
    border: none;
  }
  a{
    color:inherit;
  }
}
.info-container{
  .rating-img{
    background: url('media/rating.png');
    width:100%;
    height:40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:0;
  }
}



.footer-block{
  background: $background-grey-dark;
}
