// Color
$grey:rgb(60,60,60);
$grey-transparent: rgba(66,66,66,.7);
$grey-dark: rgb(50,50,50);
$grey-dark-transparent:rgba(50,50,50,.8);
$white: rgb(255,255,255);
$white-transparent: rgba(255,255,255,.7);
$black: rgb(0,0,0);
$cowork-blue: #447B8A;
$dark-blue: rgb(20,110,178);
$yellow: #F7E61C;
$clear: rgba(0,0,0,0);



$background-grey: $grey;
$background-grey-dark: $grey-dark;
$background-grey-dark-transparent: $grey-dark-transparent;
$background-blue: $cowork-blue;
$background-white: $white;
$background-yellow: $yellow;
$background-white-transparent: $white-transparent;
$text-white: $white;
$text-black: $black;
$text-grey: $grey;
$box-shadow: $grey;
$overlay-grey:linear-gradient(to bottom, $grey-transparent, $clear);;
$overlay-white: linear-gradient(to bottom right, $white-transparent, $clear);
$button-blue: $cowork-blue;
$button-blue-hover: $dark-blue;


// Fonts

$titles: 'brandon-grotesque', sans-serif;
$copy: 'brandon-grotesque', sans-serif;
