@import 'vars';
@import 'layout';
@import 'style';
@import 'icons';
@import 'buttons';
@import 'responsive';



// General

ul, li, h1, h2, h3, h4, h5, h6 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  cursor:pointer;

}
